{% extends "mainApp/wrapper.html" %}

{% block content %}
    <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">COVID-19</h1>
                    <h2 class="text-white-50 mx-auto mt-2 mb-5">Это время для фактов, а не для страха. Это время для науки, а не слухов. Это время солидарности, а не охоты на ведьм…</h2>
                    <a class="btn btn-primary js-scroll-trigger" href="/news">Статьи</a>
                </div>
            </div>
        </header>
{% endblock %}