{% extends "mainApp/wrapper.html" %}

{% block content %}
    <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">

                        <font size="6">
                            <blockquote>
                            <p class="text-white-50">Время неподвижно, и, соответственно, не имеет ни начала, ни конца. Представление о времени как о чем-то движущемся и вызывающем перемены есть иллюзия. Да и само время, в сущности, является иллюзией. Прошлое, настоящее и будущее существует лишь в представлениях обитателей низших миров с малыми числом измерений. Люди связывают движение времени с происходящими переменами, каковые также суть иллюзия, ибо все что было, есть и будет, существует одновременно.</p>
                        <footer>— <cite class="text-white">Говард Филипс Лавкрафт
                        </cite></footer>
                    </blockquote>
                    <a class="btn btn-primary js-scroll-trigger" href="/books">Рецензии</a>
                        </font>
                </div>
            </div>
        </header>
{% endblock %}