<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Название страницы</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css">
    <link rel="script" href="{% static 'js/scripts.js' %}" type="text/js">
   </head>

<body id="page-top" style="background: #fefefe; padding-top: 23px">

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <nav class="navbar fixed-top" id="mainNav" style="background: #1b1e21">
            <div class="container">
                <a class="navbar-brand js-scroll-trigger" href="/">SARS-COV-2</a><button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<i class="fas fa-bars"></i></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <div class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Главная</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/news">Статьи</a></li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item" >{% url 'logout_page' as url_logout_page %}<a href="{{url_logout_page}}" class="nav-link js-scroll-trigger"  >Выйти</a></li>
                        {% else %}
                            <li class="nav-item" >{% url 'login_page' as url_login_page %}<a href="{{url_login_page}}" class="nav-link js-scroll-trigger"  >Авторизация</a></li>
                            <li class="nav-item" >{% url 'register_page' as url_register_page %}<a href="{{url_register_page}}" class="nav-link js-scroll-trigger"  >Регистрация</a></li>
                            <li class="nav-item"> {{request.user}}</li>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    <div>
</body>
<div style="padding-top: 30px">
    {% block content %}
    {% endblock %}
<div/>
<!-- Footer-->
<footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Your Website 2020</div></footer>
<!-- Bootstrap core JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<!-- Third party plugin JS-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</html>
