asgiref==3.2.7
coverage==5.1
cycler==0.10.0
Django==3.0.5
django-pandas==0.6.1
gunicorn==20.0.4
helpdev==0.7.1
kiwisolver==1.2.0
matplotlib==3.2.1
numpy==1.18.2
pandas==1.0.3
Pillow==7.1.2
psycopg2==2.8.5
pygame==1.9.6
pyparsing==2.4.7
PyQt5==5.14.2
PyQt5-sip==12.7.2
PyQt5-stubs==5.14.2.2
python-dateutil==2.8.1
pytz==2020.1
QDarkStyle==2.8.1
QtPy==1.9.0
six==1.14.0
sqlparse==0.3.1
vector==0.0.0
whitenoise==5.0.1
